[Desktop Entry]
Version=1.0
Exec=/usr/local/bin/go_laptop.sh normal
Name=Return to Laptop Mode
GenericName=Return to Laptop Mode
Comment=Enable keyboard and touchpad, turn screen to normal
Encoding=UTF-8
Terminal=false
Type=Application
Categories=Application
Icon=/usr/share/icons/Humanity/devices/64/gnome-dev-computer.svg
